.App {
  /* text-align: center; */
}
.user_details {
  display: flex;
  align-items: center;
  color: #000000a6;
}
.user_details p {
  margin: 5px 10px;
}
.imagesBg {
  background: #f2f2f2;
  height: 200px;
  text-align: center;
}
.loader {
  width: 100%;
  position: absolute;
  top: 45%;
  text-align: center;
}
.imagesBg img {
  height: 100%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
